<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    <IfModule mod_headers.c>
    # Handle multiple origins dynamically
    SetEnvIf Origin "http(s)?://(localhost:5173|sportma-res.onrender.com)$" AccessControlAllowOrigin=$0
    Header always set Access-Control-Allow-Origin "%{AccessControlAllowOrigin}e" env=AccessControlAllowOrigin

    # Allow specific HTTP methods
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

    # Allow specific headers
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

    # Allow credentials if necessary
    Header always set Access-Control-Allow-Credentials "true"

    # Handle preflight requests
    SetEnvIfNoCase Request_Method OPTIONS CORS_PREFLIGHT
    Header always set Access-Control-Max-Age "86400" env=CORS_PREFLIGHT
</IfModule>


    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
